@tailwind base;
@tailwind components;
@tailwind utilities;

/* .lightTheme {
  --primary: 0, 0, 0;
  --primary-accent: 10, 10, 10;
  --secondary: 255, 255, 255;
  --secondary-accent: 245, 245, 245;
  --tertiary: 100, 100, 100;
  --tertiary-accent: 90, 90, 90;
  --background: 255, 255, 255;
  --background-accent: 245, 245, 245;
  --text-primary: 0, 0, 0;
  --text-secondary: 100, 100, 100;
  --text-tertiary: 150, 150, 150;
  --border: 200, 200, 200;
  --border-accent: 180, 180, 180;
} */

/* .darkTheme {
  --primary: 0, 0, 0;
  --primary-accent: 10, 10, 10;
  --secondary: 255, 255, 255;
  --secondary-accent: 245, 245, 245;
  --tertiary: 100, 100, 100;
  --tertiary-accent: 90, 90, 90;
  --background: 255, 255, 255;
  --background-accent: 245, 245, 245;
  --text-primary: 0, 0, 0;
  --text-secondary: 100, 100, 100;
  --text-tertiary: 150, 150, 150;
  --border: 200, 200, 200;
  --border-accent: 180, 180, 180;
} */

.material-symbols-sharp {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

:root {
  overflow-y: visible;
  overflow-x: hidden;
}

/* For WebKit browsers */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #292524;
}

::-webkit-scrollbar-thumb {
  background: #78716c;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a29e;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #78716c #292524;
}
