@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}

:root {
  overflow-y: visible;
}

/* For WebKit browsers */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #292524;
}

::-webkit-scrollbar-thumb {
  background: #78716c;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a29e;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #78716c #292524;
}